.request-info-grid {
  width: 100%;
  display: flex;
  flex-basis: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.request-info-container {
  width: 25%;
  border: 1px solid var(--borders);
  border-radius: 10px;
  background-color: var(--lightbackground);
  padding: 16px;
  margin-bottom: 20px;
  margin-right: 32px;
}

.request-info-product {
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
}

.request-info-property {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.request-info-label {
  color: #6e6e6e;
}

.request-info-btn-container {
  display: flex;
  justify-content: space-around;
}

.request-cancel-btn,
.request-confirm-btn {
  margin-top: 8px;
  padding: 6px 10px;
  border: 1px solid var(--borders);
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.request-cancel-btn:hover,
.request-confirm-btn:hover {
  cursor: pointer;
  -moz-box-shadow:    0px 0px 9px 2px #ccc;
  -webkit-box-shadow: 0px 0px 9px 2px #ccc;
  box-shadow:         0px 0px 9px 2px #ccc;
}

.request-cancel-btn:focus,
.request-confirm-btn:focus {
  outline: none;
}

.request-cancel-btn {
  background: var(--background);
}

.request-confirm-btn {
  background: var(--accent);
  color: white;
}
