.page-container {
  padding: 32px;
  width: 60vw;
  height: 100%;
  margin: auto;
}

.jeff {
  font-size: 100px;
}

.request-field {
  display: flex;
  margin-bottom: 16px;
}

.request-field-label {
  width: 30vw;
}

.request-field input {
  padding: 4px;
  border: 1px solid var(--borders);
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

.dropdown-first-btn {
  cursor: pointer;
}

.dropdown-btn {
  cursor: pointer;
  display: block;
  padding: 2px 6px;
  border-radius: 3px;
}

.dropdown-btn:hover {
  background: var(--hover);
  transition: all 0.2s;
}

.dropdown-menu {
  margin-top: 10px;
  max-height: 10vh;
  min-width: 10vw;
  padding: 12px;
  border: 1px solid var(--borders);
  border-radius: 3px;
  overflow-y: scroll;
}

.request-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-btn {
  padding: 8px 10px;
  margin-left: 16px;
  border: 1px solid var(--borders);
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.footer-btn:hover {
  cursor: pointer;
}

.submit-btn {
  background: var(--accent);
  color: white;
}
