.page-container {
  padding: 32px;
  height: 100%;
}

.jeff {
  font-size: 100px;
}

.request-field {
  display: flex;
  margin-bottom: 16px;
}

.request-field-label {
  width: 20vw;
}

.dropdown-first-btn {
  cursor: pointer;
}

.dropdown-btn {
  cursor: pointer;
  display: block;
}

.dropdown-btn:hover {
  background: var(--hover);
  transition: all 0.2s;
}

.dropdown-menu {
  margin-top: 10px;
  max-height: 25vh;
  min-width: 10vw;
  padding: 12px;
  border: 1px solid black;
  border-radius: 3px;
  overflow-y: scroll;
}
