.navBar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar-title {
  padding: 8px;
  font-family: "Open Sans", sans-serif;
}

.navBar-linkContainer {
  display: flex;
  padding: 10px;
}

.navBar-link {
  margin: 10px;
  margin-right: 12px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: rgb(46, 43, 43);
  position: relative;
  padding: 8px 12px 16px 12px;
}

/* .request {
  border-radius: 5px;
  color: white;
  background-color: #386DFF;
} */

.navBar-link:before {
  content: "";
  position: absolute;
  align-self: center;
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  /* margin-right: auto; */
  margin-bottom: 10px;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navBar-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* .request {
  border: 1px solid var(--borders);
  border-radius: 5px;
  background-color: var(--accent);
  color: white;
} */

/* .navBar-link:active {
  position: absolute;
  align-self: center;
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 10px;
} */

.logo-img {
  width: 40px;
  width: 40px;
}

.Navbar-opts_login {
  margin-left: 12px;
  padding: 0px;
}
